<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>TODOlist</title>
	<script src="http://underscorejs.org/underscore.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://backbonejs.org/backbone.js"></script>
	<script src="http://marionettejs.com/downloads/backbone.marionette.js"></script>
	<script src="index.js"></script>
</head>
<body>
	<!-- Main content area. -->
	<div id="main"></div>
	<!-- templates for the listing -->
	<!-- Global template for the tasks list. -->
	<script type="text/template" id="tpl-tasks-list">
		<!-- items -->
		<ul></ul>
		<a href="#task/new"><button type="button">Nouveau</button></a>
	</script>

	<!-- Template for each task in the tasks list. -->
	<script type="text/template" id="tpl-task-item">
		<input type="checkbox" <% if (done) { %>checked="checked"<% } %>/>
		id : <%= id %>,
		<a href="#task/<%= id %>"><%= title %></a>
		<button type="button" class="delete-task">delete</button>
		<a href="#task/<%= id %>/edit"><button type="button">modifier</button></a>
	</script>

	<!-- template for the detail description -->
	<!-- template displaying all informations of a task-->
	<!-- !!!@todo mettre a jour pour afficher les tags/dependencies-->
	<script type="text/template" id="tpl-task-full">
		<br/>titre : <br><%= title %><br><br>
		créateur : <br><%= creator %><br><br>
		date de création : <br><%= stamptodate(ctime) %><br><br>
		date de dernière modification : <br><%= stamptodate(mtime) %><br><br>
		descripion : <br><%= description %><br><br>
		<a href="#"><button type="button">Retour à la liste</button></a>
		<a href="#task/<%= id %>/edit"><button type="button">modifier</button></a>
	</script>

	<!-- templates for the information input -->
	<!-- template  containing the form and the complete -->
	<script type="text/template" id="tpl-task-edit">
		<br/><form class="form-region"><!-- form --></form><br>
		<div class="tags-region"></div><br>
		<div class="deps-region"></div>
	</script>

	<!-- global template for the tags list -->
	<script type="text/template" id="tpl-task-tags">
		tags :<br>
		<input type="text" name="tag" value="" />
		<button type="button" name="addtag" >ajouter</button><br>
		<ol><!-- tag items --></ol>
	</script>

	<!-- template for each tags -->
	<script type="text/template" id="tpl-task-tag">
		<%= name %>
		<button type="button" class="delete">delete</button>
	</script>

	<!-- global template for the dependencies list -->
	<script type="text/template" id="tpl-task-deps">
		dependencies :<br>
		<input type="text" name="dep" value="" />
		<button type="button" name="dep" >ajouter</button><br>
		<ol><!-- dependencies items --></ol>
	</script>

	<!-- template for each dependencies -->
	<script type="text/template" id="tpl-task-dep">
		<%= name %><%= id %>
		<button type="button" class="delete">delete</button>
	</script>

	<!-- Form for task edition/creation. -->
	<script type="text/template" id="tpl-task-form">
		titre de la tache<br/>
		<input type="text" name="title" value="<%= title %>" /><br><br>
		créateur de la tache<br>
		<input type="text" name="creator" value="<%= creator %>" /><br><br>
		description<br>
		<textarea name="description" rows="4" cols="70"><%= description %></textarea><br>
		<input type="submit" value="enregistrer" />
		<input type="reset" value="reinitialiser" /><br>
		<a href="#"><button type="button">Retour à la liste</button></a>
	</script>
</body>
</html>
