<html>
	<head>
		<meta charset="utf-8" />
		<title> test view </title>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="http://backbonejs.org/backbone.js"></script>
	</head>

	<body>
		</script>
		<script type="text/template" id="pal">
			<output type="text" id="outputclic">sur la page précédente, vous avez cliquer <%= clics %> fois</output>
			<input type="button" id="switch" value="switch"></input>
		</script>
		<script type="text/template" id="bob">
			<input type="button" id="minus" value="minus"></input>
			<output type="text" id="outputclic"><%= value %></output>
			<input type="button" id="plus" value="plus"><br><br></input>
			<input type="button" id="switch" value="switch"></input>
		</script>
		<div id="clic"></div>
		<script>
			var value = 0, clics = 0;
			var affiche = "#bob";
			var change =0;
			clicView = Backbone.View.extend({
				render: function(){
					var template = _.template( $(affiche).html(), {});
					this.$el.html(template);
				},
				events: {
					"click input[type=button][id='plus']": "doplus",
					"click input[type=button][id='minus']": "dominus",
					"click input[type=button][id='switch']": "doswitch"
				},
				doplus: function(event){
					clics += 1;
					value += 1;
					this.render();
				},
				dominus: function(event){
					clics += 1;
					value -= 1;
					this.render();
				},
				doswitch: function(event){
					if (change == 0){
						change =1;
						affiche = "#pal";
					}else{
						change = 0;
						affiche = "#bob";
					}
					this.render();
				}
			});
			var clic_View = new clicView({ el: $("#clic")});
			clic_View.render();
		</script>
	</body>
</html>
