<html>
	<head>
		<meta charset="utf-8" />
		<title> to do list </title>
		<script src="http://underscorejs.org/underscore.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="http://backbonejs.org/backbone.js"></script>
	</head>

	<body>
<!----------------------------------------------------------------------------------------->
		<div id="affichageformulaire"></div>
		<script type="text/template" id="formulaire"><br/>
			<form name="todoux">
				titre de la tache<br>
				<input type="text" name="title" id="title"/><br><br>
				créateur de la tache<br>
				<input type="text" name="creator" id="creator"/><br><br>
				description<br>
				<textarea name="description" id="description" rows=4 cols=70></textarea><br>
				<input type="button" id="ajout" value="enregistrer"/>
				<input type="button" id="reset" value="reinitialiser"/><br><br>
			</form>
			<span>nb de taches enregistrees : <%= tasklist.length %></span>
		</script>
		<p>tache enregistrée</p>
<!----------------------------------------------------------------------------------------->
		<div id="listdisplayer"></div>
		<script type="text/template" id="listtemplate">
			<ol>
				<% tasklist.forEach(function(task){ %>
					<li>titre : <%= task.get("title") %><br> 
					créateur : <%= task.get("creator")%><br>	
					tache : <%= task.get("messages") %><br>
				<input type="button" id="erase" data-id="<%= task.get('id')%>" value="erase"/>
				<input type="button" id="modify" data-id="<%=task.get('id')%>" value="modify"/></li>
				<% }); %>
			</ol>
		</script>
<!----------------------------------------------------------------------------------------->
		<script>
/*----------------------------------------------------------------------------------------*/			
				var Task = Backbone.Model.extend({
					defaults: {
						title : "",
						creator : "",
						messages : "",
						datecreation : "",
						datemodif : "",
						tags : [],
						dependancies : []
					},
					initialize: function() {
						date = new Date();
						var id;
						if (tasklist.length == 0)
							this.set("id", 0);
						else
							this.set("id", tasklist.get(tasklist.length-1).get("id") +1);
						this.set("datecreation", date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear());
						this.set("datemodif", date);
					
						this.on("change", function(model){
							date = new Date();
							datemodif = date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear();
						});
					}
				});
/*----------------------------------------------------------------------------------------*/
				var formul = Backbone.View.extend({
					el: $("#affichageformulaire"),
					initialize: function(){
						this.template = _.template($("#formulaire").html());
					},
					render: function(){
						$(this.el).html(this.template(tasklist));
					},
					events: {
						"click #ajout": "doajout",
						"click #reset": "doreset"
					},
					doajout: function(event){
						var titre = $("#title").val(),
							createur = $("#creator").val(),
							description = $("#description").val();
						tasklist.add([
							{title : titre, creator : createur, messages : description}
						]);
						this.render();
					},
					doreset: function(event){
						this.render();
					}
				});
/*----------------------------------------------------------------------------------------*/
				var TaskList = Backbone.Collection.extend({
					model: Task,
					initialize : function(){
						this.on("add", function(task){
							console.log("new task : " + task.get("title"));
						});
						this.on("remove", function(task){
							console.log("erase task : " + task.get("title"));
						});
						this.on("change", function(){
						});
					}
				});
/*----------------------------------------------------------------------------------------*/
				var DisplayList = Backbone.View.extend({
					el: $("#listdisplayer"),
					initialize: function(){
						this.template = _.template($("#listtemplate").html());
						var self = this;
						this.collection.on("add", function () {
							self.render(self.collection);
						});
						this.collection.on("remove", function () {
							self.render(self.collection);
						});
					},
					render: function(collection){
						this.$el.html(this.template(tasklist));
					},
					events: {
						"click #erase": "doerase",
						"click #modify": "domodify"
					},
					doerase : function(event){
						console.log($(event.currentTarget).data("id"));
						tasklist.remove($(event.currentTarget).data("id"));
					},
					domodify : function(event){
						console.log(event);
					}
				});
/*----------------------------------------------------------------------------------------*/
				var tasklist = new TaskList;
				var displist = new DisplayList({collection : tasklist});
				var view = new formul;
				view.render();
		</script>
	</body>
</html>
